#homeTitle {
    margin-top: 2%;
}

#homeBody {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
}

#homeBodyTrip {
    margin-right: 1%;
    flex: 2;
}

#homeBodyLogin {
    margin-left: 1%;
    flex: 1;
}

@media screen and (max-width: 1000px) {
    #homeBody {
        display: flex;
        flex-direction: column;
    }
}