<div class="jumbotron">
  <h2>Make your own trip</h2>
  <form-wizard id="formWizard">


    <wizard-step [title]="'TRIP DETAILS'" (onNext)="setFirstField(from.value, to.value, passengers.value, date.value)">
      <div class="fieldBody">
        <div class="fieldElem">
          <div class="form-group">
            <label>From destination</label>
            <input type="text" class="form-control" placeholder="From" #from>
          </div>
          <div class="form-group">
            <label>To destination</label>
            <input type="text" class="form-control" placeholder="To" #to>
          </div>
        </div>
        <div class="fieldElem">
          <div class="form-group">
            <label>Number of passengers</label>
            <select class="form-control" placeholder="1" #passengers>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
            </select>
          </div>
          <div class="form-group">
            <label>When?</label>
            <input type="date" class="form-control" value="2018-01-01" #date>
          </div>
        </div>
      </div>
    </wizard-step>


    <wizard-step [title]="'CAR DETAILS'" (onNext)="setSecondField(model.value)">
      <div class="fieldBody">
        <div class="fieldElem">
          <div class="form-group">
            <label>Car Model</label>
            <input type="text" class="form-control" #model>
          </div>
        </div>
        <div class="fieldElem">
          <div class="form-group">
            <label>Features</label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="feature1" [(ngModel)]="animals" name="animalsFeature">I allow passengers to bring small animals
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="feature2" [(ngModel)]="childSeat" name="childFeature">I have a childSeat
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="feature3" [(ngModel)]="baggageSpace" name="baggageFeature">I have room for a suitcase
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>What does your car run on?</label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" name="fuelField" type="radio" value="petrolDiesel" id="carFuel1" (click)="setFuel(fuel1.value)" #fuel1 checked>Petrol/diesel
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" name="fuelField" type="radio" value="electrical" id="carFuel2" (click)="setFuel(fuel2.value)" #fuel2>Electrical
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input class="form-check-input" name="fuelField" type="radio" value="hybrid" id="carFuel3" (click)="setFuel(fuel3.value)" #fuel3>Hybrid
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input class="form-check-input" name="fuelField" type="radio" value="other" id="carFuel4" (click)="setFuel(fuel4.value)" #fuel4>Other
              </label>
            </div>
          </div>
        </div>
      </div>
    </wizard-step>


    <wizard-step [title]="'EXTRAS'" (onComplete)="onClickSubmit()">
      <div [ngSwitch]="isCompleted">
        <div *ngSwitchDefault>
          <div class="fieldBody">
            <div class="fieldElem">
              <!--<div class="form-group">
                <label>Why don't you add a picture of yourself?</label>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="uploadFile" id="choice1" checked="" #file>Upload File
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="profilePicture" id="choice2" #file> I want to use my profile picture
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="noPicture" id="choice3" #file>I don't want to submit a picture for the moment
                  </label>
                </div>
                <input type="file" name="pictureFile" accept="image/*" (change)="onFileChange($event)">
                <div *ngIf="pictureFile!=undefined&&pictureChoice=='uploadFile'">
                  <label>You have uploaded this picture</label>
                  <img [src]="pictureFile" alt="Picture of yourself">
                </div>
              </div>-->
              <div class="form-group">
                <label>Anything else you would like to tell your carmates?</label>
                <textarea class="form-control" type="text" id="exampleTextarea" rows="3" [(ngModel)]="otherInfo" name="otherText"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </wizard-step>


  </form-wizard>
</div>