.mainButtons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
/* Makes "no file chosen" transparent. */
input[type=file]{ 
    color:transparent;
}
.progress {
    height: 40px !important;

}
.progress-bar {
    color: white;
    font-weight: bold; 
    font-size:24px;
}

 .search-trip-div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

    
.sub-form {
   display: flex;
   flex-direction: column;
   width: 40%;
}

.card {
    padding: 10px;
}

.buttonDisabled {
    opacity: 0.5;
}

