<div class="row" id="homeBody">
  <div id="homeBodyTrip">
      <div class="jumbotron text-center">
        <h2>Tell me about your trip</h2>
        <form (submit)="onClickSubmit()">
          <div class="tripForm">
            <div  class="form-group">
                <label>From destination</label>
                <input type="search" class="form-control" placeholder="From" [(ngModel)]="fromDest" name = "fromDest">
            </div>
            <div  class="form-group">
                <label>To destination</label>
                <input type="search" class="form-control" placeholder="To"[(ngModel)]="toDest" name = "toDest">
            </div>
          </div>
          <div class="tripForm">
              <div  class="form-group">
                  <label>Maximum passengers</label>
                  <input type="number" min="1" max="9" value="1"  class="form-control" placeholder="1" [(ngModel)]="maxPassengers" name="maxPassengers">
              </div>
              <div  class="form-group">
                  <label>When?</label>
                  <input type="date" class="form-control" [(ngModel)]="date" name="date">
              </div>
            </div>
          <div class="tripForm">
            <label>Check the appropriate boxes</label><br>
            <input type="checkbox" name="functionality" value="Animals" [(ngModel)]="animals" name="animals"> I allow passengers to bring small animals<br>
            <input type="checkbox" name="functionality" value="ChildSeat" [(ngModel)]="childSeat" name="childSeat"> I have a childSeat<br>
            <input type="checkbox" name="functionality" value="BaggageSpace" [(ngModel)]="baggageSpace" name="baggageSpace"> I have room for a suitcase<br>
          </div>
          <div class="tripForm">
              <label>Car Model</label>
              <input type="text">
          </div>
          <div class="tripForm">
              <label>What does your car run on?</label><br>
              <input type="radio" name="carType" value="electrical" [(ngModel)]="carFuel" name="carFuel">Electrical<br>
              <input type="radio" name="carType" value="petrolDiesel" [(ngModel)]="carFuel" name="carFuel">Petrol/diesel<br>
              <input type="radio" name="carType" value="hybrid" [(ngModel)]="carFuel" name="carFuel">Hybrid<br>
              <input type="radio" name="carType" value="other" [(ngModel)]="carFuel" name="carFuel"> Other

          </div>
          <div class="tripForm">
            <div class="form-group">
              <label>Anything else you would like to tell your carmates?</label><br>
              <input type="text" [(ngModel)]="otherInfo" name="otherInfo">
            </div>
          </div>
          
          <div class="tripForm">

            <label>Why don't you add a picture of yourself? This is optional and you can also choose your profile picture.</label><br>
            <input type="radio" name="pictureChoice" value="uploadFile" [(ngModel)]="pictureChoice" name="pictureChoice"> Upload File<br>
            <input type="radio" name="pictureChoice" value="profilePicture" [(ngModel)]="pictureChoice" name="pictureChoice"> I want to use my profile picture<br>
            <input type="radio" name="pictureChoice" value="noPicture" [(ngModel)]="pictureChoice" name="pictureChoice">I don't want to submit a picture for the moment<br>
          </div>
          
          

          <!--
          <div class="tripForm">
            <div *ngIf="checked()">
            
              <input type="file" [(ngModel)]="pictureFile" name="pictureFile" accept="image/*">
              
            </div>
          </div>

          
          <div>
            <label>You have uploaded a file</label>
            <img src="{{pictureFile}}" alt="Picture of yourself"> 
          </div>
        -->
        
          


          <div class="mainButtons">
            <button type="submit" class="btn btn-primary"  name="upload" value="Upload">Upload</button><br>
            <button type="button" class="btn btn-primary" (click)="onClickSave()" name="save" value="Save">Save</button><br>
            <input type="reset" value="Reset the form">
          </div>

        
          
        </form>
      </div>
  </div>