<div class="jumbotron text-center">
    <h2>Where do you want to go?</h2>
    <app-search-bar class="for-search" (inputChanged)="onInputChanged($event)" [searchFromP]="searchFromRoute" [searchToP]="searchToRoute"
        [searchPassengersP]="searchPassengersRoute" [searchDateP]="searchDateRoute"></app-search-bar>
</div>
<div id="resultsBody" *ngIf="textSet()">
    <div id="filterBodyTrip" class="jumbotron text-center">
        <h2>Filter</h2>
    </div>
    <div id="resultBodyTrip" class="jumbotron text-center">
        <h2>Results</h2>
        <app-results [searchForm]="searchFormP"></app-results>
    </div>
    <div id="mapBodyTrip" class="jumbotron text-center">
        <app-map [searchForm]="searchFormP"></app-map>
    </div>
</div>