#myTrips {
    margin-top: 2%;
}

#resultsBody {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aResult {
    padding: 2em;
}
