<form id="search-trip-form" (submit)="searchDestination(searchFrom.value, searchTo.value)" onsubmit="return false">
  <div id="search-trip-div">
    <div class="sub-form">
      <label>From destination</label>
      <input type="text" class="form-control" placeholder="From" #searchFrom>
    </div>
    <div class="sub-form">
      <label>To destination</label>
      <input type="text" class="form-control" placeholder="To" #searchTo>
    </div>
    <div class="sub-form">
      <label>Number of passengers</label>
      <input type="number" min="1" max="9" value="1"  class="form-control" >
    </div>
    <div class="sub-form">
      <label>When?</label>
      <input type="date" class="form-control">
    </div>
  </div>
  <div>
    <input type="submit" class="btn btn-primary" value="Search"><br>
    <a id="make-trip-link" [routerLink]="['/make-trip']">
      Do you want to make your own trip? Click here
    </a>
  </div>
</form>
<div id="map"></div>