<form id="search-trip-form" (submit)="searchDestination(searchFrom.value, searchTo.value)" onsubmit="return false">
  <div id="search-trip-div">
    <div class="sub-form">
      <label>From destination</label>
      <input type="text" (blur)="fromBtn()" class="form-control" placeholder="From" [value]="searchFromInput"  #searchFrom>
    </div>
    <div class="sub-form">
      <label>To destination</label>
      <input type="text" class="form-control" placeholder="To" #searchTo>
    </div>
    <div class="sub-group">
      <label>Number of passengers</label>
      <select class="form-control" placeholder="1" [(ngModel)]="maxPassengers" name="maxPassengers">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>

      </select>

    </div>
    <div class="sub-form">
      <label>When?</label>
      <input type="date" class="form-control">
    </div>
  </div>
  <div>
    <input type="submit" class="btn btn-primary" value="Search" [routerLink]="['/search-trip', {fromParameter:searchFromV}]"><br>
    <a id="make-trip-link" [routerLink]="['/make-trip']">
      Do you want to make your own trip? Click here
    </a>
  </div>
</form>